*{
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* 90s style font */
}

nav {
  background-color: #008080!important; /* 90s Teal */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

nav h2 {
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #FFA500; /* Orange on hover for links, common in 90s */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('wallpaper.gif'); /* Typical 90s background, replace with actual image path */
  background-repeat: repeat;
}

nav, footer {
  width: 100%;
  padding: 15px 0;  /* adjusted padding */
  background-color: #008080; /* 90s Teal */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav h2, .footer-content h3 {
  margin-bottom: 5px;
  text-align: center;
}

nav ul, footer ul {
  display: flex;
  justify-content: center;
}

nav ul li, footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a, footer ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
}

footer {
  position: fixed!important;
  bottom: 0;
  background: repeating-linear-gradient(45deg, #008080, #008080 10px, #009999 10px, #009999 20px); /* 90s stripe effect */
}

.footer-content p {
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 5px #FF4500; /* 90s style text shadow */
}


.pagination-nav {
  background-color: transparent!important; /* Remove the background color */
  padding: 0; /* Reset the padding */
}

.pagination .page-item {
  display: inline-block!important;
}

.pagination {
  justify-content: center; /* Center the pagination */
}

.pagination .page-item .page-link {
  color: black; /* Change the color of the pagination numbers */
  border: none; /* Remove the border from the pagination numbers */
  padding: .5em 1em; /* Add some padding */
  margin: .2em; /* Add some margin */
}

.pagination .page-item.active .page-link {
  background-color: transparent; /* Remove the background color from the active page number */
  color: red; /* Change the color of the active page number */
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}
